[submodule "vendor/google/benchmark"]
	path = vendor/google/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/google/googlemock"]
	path = vendor/google/googlemock
	url = https://github.com/google/googlemock.git
